{% block footer-content %}
        
<!-- footer area -->
 <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-md-0">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-12">
                        <div class="footer_logo">
                            <img loading="lazy"  src="/media/logotec.png" alt="Mujndo global">
                        </div>
                        <div class="footet_text">
                            <p>Somos proveedores de tecnologia a nivel nacional desde hace mas de 30 años. Trabajamos y somos distribuidores oficiales de las mejores marcas a nivel nacional</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-12">
                        <div class="footer_newslet">
                            <h4>Suscribete</h4>
                            <form class="footernews_form">
                                <input type="text" placeholder="ingresa correo electronico">
                                <button type="submit" class="default_btn">Susbribirse</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-md-0">
                <div class="row">
                    <div class="col-6">
                        <div class="footer_menu">
                            <h4 class="footer_title">Mi cuenta</h4>
                            <a href="account-order-history.html">Compras</a>
                            <a href="wish-list.html">Carrito</a>
                            <a href="track-order.html">Perfil</a>
                            <a href="#">Facturacion</a>
                            <a href="return-order.html">Direcciones de envio</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="footer_menu">
                            <h4 class="footer_title">Informacion</h4>
                            <a href="about-us.html">Sobre nosotros</a>
                            <a href="return-policy.html">Politica de devoluciones</a>
                            <a href="terms-condition.html">Terminos y condiciones</a>
                            <a href="privacy-policy.html">Politica de provacidad</a>
                            <a href="faq.html">Preguntas frecuentes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer_download">
                    <div class="row">
                        <div class="col-lg-6 col-lg-12">
                            <h4 class="footer_title">Contacto</h4>
                            <div class="footer_contact">
                                <p>
                                    <span class="icn"><i class="las la-map-marker-alt"></i></span>

                                    7Calle falsa 123 
                                </p>
                                <p class="phn">
                                    <span class="icn"><i class="las la-phone"></i></span>
                                    +9999999999 y tambien 99999999
                                </p>
                                <p class="eml">
                                    <span class="icn"><i class="lar la-envelope"></i></span>
                                    correo@correo.com.mx
                                </p>
                            </div>
                        </div>
                        <div class="footer_social col-lg-6 col-lg-12">
                            <div class="footer_icon d-flex">
                                <a href="#" class="facebook"><i class="lab la-facebook-f"></i></a>
                                <a href="#" class="twitter"><i class="lab la-twitter"></i></a>
                                <a href="#" class="instagram"><i class="lab la-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock footer-content %}